 :root{
  /* colors */
  --black: #2C2C34;
  --white: #DDDFDF;
  --blue: #14AAB8;;
  --orange: #BD632F;
  --yellow: #E3C363;
}

* {
  box-sizing:border-box;
  color: var(--white);
  font-family: 'Play', sans-serif;
}

body {
  background-color: var(--black);
}

.container{
  margin: 100px auto;
  display: flex;
  justify-content: center;
}

#calculator{
  border: 10px var(--orange) solid;
  width: 400px;
  border-radius: 10px;
  background-color: #CBCDCB;
}


#display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  width: 100%;
  padding: 10px;
  background-color: var(--black);
}

#last-operation {
  font-size: 24px;
}

.calc-display{
  font-size: 36px;
  border: 0px;
  padding: 10px;
  background-color: inherit;
}

.calc-button{
  font-size: 36px;
  margin:10px;
  height: 75px;
  width: 75px;
  border-radius: 10px;
  border: 2px solid var(--black);
  transition: background-color 0.25s;
}

.calc-button:hover, .features>.calc-button:hover {
  background-color: var(--yellow);
  color: var(--black);
}


.features{
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.features > .calc-button {
  width: 50%;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
  color: var(--black);
}

.section-2{
  display: flex;
  justify-content: space-evenly;
}

.number-buttons{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  flex-grow: 1;
}

.number{
  background-color: var(--orange);
}

.operator{
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: px;
}

.operator-buttons{
  display: flex;
  flex-direction: column;
}


.button-images{
  width: 42px;
  object-fit: contain;
}
